<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>构建热更资源</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>ProjectRoot</name>
          <description>项目工程根目录</description>
          <defaultValue>D:\Workspace\GF_HybridCLR</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ResourceOutputDir</name>
          <description>构建资源输出目录</description>
          <defaultValue>D:/Workspace/GF_HybridCLR/AB</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Platform</name>
          <description>类型：enum (BuildTarget枚举)
说明：构建平台</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Android</string>
              <string>iOS</string>
              <string>StandaloneWindows</string>
              <string>StandaloneWindows64</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ForceRebuild</name>
          <description>强制重新构建全部资源</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ResourceVersion</name>
          <description>类型：int
说明：热更资源版本号</description>
          <defaultValue>1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>UpdatePrefixUrl</name>
          <description>热更资源服务器地址</description>
          <defaultValue>https://gitcode.net/topgamesopen/gf_hybridclr_hotfix/-/raw/master</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ApplicableVersions</name>
          <description>资源适用的App版本号, 多个版本号之间用&apos;|&apos;分割</description>
          <defaultValue>1.0.0|1.0.1|1.0.2</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ForceUpdate</name>
          <description>是否强制更新App</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AppUpdateUrl</name>
          <description>App更新地址</description>
          <defaultValue>https://play.google.com/store/apps/details?id=</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AppUpdateDescription</name>
          <description>App更新说明(支持TextMeshProGUI富文本)</description>
          <defaultValue>1. bug fix.\n2. add xxx</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>%ProjectRoot%\Tools\Jenkins\CreateBuildResourceConfig.bat</command>
      <configuredLocalRules/>
    </hudson.tasks.BatchFile>
    <org.jenkinsci.plugins.unity3d.Unity3dBuilder plugin="unity3d-plugin@1.3">
      <unity3dName>Unity2021</unity3dName>
      <argLine>-quit -nographics -batchmode -projectPath &quot;${ProjectRoot}&quot; -executeMethod UGF.EditorTools.JenkinsBuilder.BuildResource -logFile &quot;${ProjectRoot}/Tools/Jenkins/UnityBuildLog.log&quot;</argLine>
      <unstableReturnCodes></unstableReturnCodes>
    </org.jenkinsci.plugins.unity3d.Unity3dBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>